<!DOCTYPE html>
<html>
<head>
<title>Countrys</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="countrysC1.CSS">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class='header'>
    <div class="continer">
<div class="menu">
<ul>
<li><a href="Home.html">Home</a></li>
<li><a href="Countrys.html">Countries</a></li>
<li><a href="Login.html">Account</a></li>
</ul>
</div>
<div class="logo">
<a href="Home.html"><div class="menu-open"><i class="fa-solid fa-bars"></i></div><h1>W<span>o</span>rldClube</h1></a>
</div>
<div class='button'>
<a href="Login.html" class="sign-in">Login</a>
<a href="Register.html" class="sign-up">Sign up</a>
</div></div>
</div>
<div class='top-img'><img src="./photo/3.png"/></div>
<div class="continer">
<h3 class="title">Find Country to know</h3>
<div class="countrys">
    <div class="country">
        <a href="Canada.html"><img src='./photo/4.png'/></a>
        <a href="Canada.html"><h4 class="contryT">Canada</h4></a>
    </div>
    <div class="country">
        <a href="France.html"><img src='./photo/5.png'/></a>
        <a href="France.html"><h4 class="contryT">France</h4></a>
    </div>
    <div class="country">
        <a href="Turkey.html"><img src='./photo/6.png'/></a>
        <a href="Turkey.html"><h4 class="contryT">Turkey</h4></a>
    </div>
    <div class="country">
        <a href="USA.html"><img src='./photo/7.png'/></a>
        <a href="USA.html"><h4 class="contryT">U.S.A</h4></a>
    </div>
    <div class="country">
        <a href="Iceland.html"><img src='./photo/8.png'/></a>
        <a href="Iceland.html"><h4 class="contryT">Iceland</h4></a>
    </div>
    <div class="country">
        <a href="Iraq.html"><img src='./photo/9.png'/></a>
        <a href="Iraq.html""><h4 class="contryT">Iraq</h4></a>
    </div>
    <div class="country">
        <a href="Italy.html"><img src='./photo/10.png'/></a>
        <a href="Italy.html"><h4 class="contryT">Italy</h4></a>
    </div>
    <div class="country">
        <a href="Saudi.html"><img src='./photo/11.png'/></a>
        <a href="Saudi.html"><h4 class="contryT">Saudi Arabia</h4></a>
    </div>
    <div class="country">
        <a href="Dubai.html"><img src='./photo/12.png'/></a>
        <a href="Dubai.html"><h4 class="contryT">Dubai</h4></a>
    </div>
</div>
</div>
<footer>
    <div class="continer">
    <div class="search-div">
    <p>Get inspired! Receive travel discounts, tips and behind the scenes stories.</p>
    <input type="email" name="email" id="email" placeholder='Your email address'/>
    <input type="submit" value="Subscribe"/>
    </div>
    <img src="./photo/26.png" class="footer-img"/>
    </div>
    <h2>WorldClube</h2>
    <div class='soc'>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    </footer>
<script>
    $(function(){$(".menu-open").click(function(){
        $("body").toggleClass("open-active");
    });
    });
    </script>
</body>
</html>